@font-face {
   font-family: 'alfont_com_Frutiger-LT-Arabic-55-Roman';
   font-display: swap;
   src: url('file:///Users/abdo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-06-05_122519/fonts/alfont_com_Frutiger-LT-Arabic-55-Roman/font.ttf');
}
